@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cafe SOftT</h1>
    <p class="lead"> Plataforma para el desarrollo de Residuos Organicos de Cafe.</p>
    
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Patrocinadores</h2>
        <p>
            <img src="~/Img/logotecnicafe.jpg" />
           
        </p>
       
    </div>
   
    <div class="col-md-6">
        <h2>.</h2>
        <img src="~/Img/Fundacio_n Universitaria de Popaya_n.png" />
       
    </div>
</div>